/* Базовы настройки */
body{
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "Roboto";
  background: rgba(255, 255, 255, 1);
  width: 1366px;

  font-weight: 400;
  font-size: 16px;
  color: rgba(22, 49, 82, 1);
  line-height: 26px;
  box-sizing: border-box;

}



h2{
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  text-align: center;
}

h4{
  color: rgba(22, 49, 82, 1);
  font-size: 24px;
  font-weight: 510;
  line-height: 34px;
}

h3{
  color: rgba(104, 24, 208, 1);
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;

}

p{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Шапка */

.page-header{
  background-color: rgba(240, 238, 255, 1);
}

.main-nav{
  margin-left: 48px;
  margin-right: 48px;
  width: Fill (1226px)px;
  height: Hug (100px)px;
  gap: 60px;
  opacity: 0px;
  padding-bottom: 40px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
}

.header-navigation{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  gap: 30px;
  margin-right: auto;
}

.header-navigation-iteam{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation-iteam a{
  list-style: none;
  text-decoration: none;
  color: rgba(22, 49, 82, 1);
}

.header-navigation-profile{
  align-self: flex-end;
}

/* 1-ый блок */

.initial-block{
  margin-left: 48px;
  margin-right: 48px;
}

.initial-block h1{
  margin: 0;
  margin-bottom: 12px;
  font-size: 64px;
  font-weight: 800;
  line-height: 64px;
  text-align: end;

}

.initial-block img{
  align-items: center;
  width: 100%;
  height: 466px;
  opacity: 0px;
  padding-top: 50px;
  padding-bottom: 50px;

}

.initial-block-description{
  margin: 0;    
  font-size: 40px;
  font-weight: 300;
  line-height: 60px;
  text-align: right;      
  margin-bottom: 50px;

}

/* news*/   

.news{

  background: rgba(240, 238, 255, 1); 
  padding-bottom: 100px;
  padding-top : 100px;
  margin-bottom: 20px;
}

.news-iteam{
  padding: 0;
  margin-bottom: 60px;
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 1);
  width: Fill (1,270px)px;
  height: Hug (366px)px;
  gap: 50px;
  opacity: 0px;  
}

.element-news-description h3{
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.element-news-description2 h3{
  margin: 0;
  padding: 0;
  margin-top: 10px;
}

.element-news-description p{
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.element-news-description2 p{
  padding: 0;
  margin: 0;
  margin-top: 12px;
}

.element-news-description{
  padding: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}




.element-news-description2{
  padding: 20px;
  margin-bottom: 20px;
  padding-top: 10px; 
}

.element-news-description2 a{
  margin-left: 87%;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: right;
  text-decoration: underline;
}

.element-news-description a{
  margin-left: 87%;

}

.element-news-img{
  width: 610px;
  height: 260px;
  gap: 0px;
  opacity: 0px;
}

/* активация новости */
.additional-text {
  display: none;
  margin: 0;
  padding: 0;
}

.element-news-description .read-more-btn {
  cursor: pointer;
  color: rgba(240, 135, 60, 1);
}

.element-news-description .read-more-btn:hover {
  color: rgba(240, 238, 255, 1);
}

.element-news-description .read-more-btn:focus {
  color: rgba(22, 49, 82, 1);
}

.element-news-description .read-more-btn:active {
  color: rgba(104, 24, 208, 1);

}

.additional-text span {
  display: block;
}

.additional-text2 {
  display: none;
}

.element-news-description2 .read-more-btn2 {
  cursor: pointer;
  color: rgba(240, 135, 60, 1);
  text-decoration: none;
}

.element-news-description2 .read-more-btn2:hover {
  color: rgba(240, 238, 255, 1);
}

.element-news-description2 .read-more-btn2:focus {
  color: rgba(22, 49, 82, 1);
}

.element-news-description2 .read-more-btn2:active {
  color: rgba(104, 24, 208, 1);
}

.read-more-btn{
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: right;
  text-decoration: underline;
}

.read-more-btn2{
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: right;
  text-decoration: underline;
}

/* event*/   

.event {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  width: 836px;
  padding: 50px 48px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.event-title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34px;
}

.activities-subtitle {
  text-align: center;
  margin-bottom: 60px;
}

.activities-author {
  width: 600px;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 13px;
  margin-bottom: 60px;
}

.event-author img {
  width: 80px;
  height: 80px;
  display: block;
  margin: 0;
  object-fit: cover;
  object-position: right;
}

.event-description h4 {
  margin: 0;
  padding: 0;
  color: rgba(240, 135, 60, 1);
}

.event-description p {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;

}


.event-p {
  width: 836px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 60px;
  color: rgba(22, 49, 82, 1);
}

.event-quote {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 60px;
  color: rgba(22, 49, 82, 1);
}

.event-quote p {
  margin: 0;
  padding: 0;
  color: rgba(22, 49, 82, 1);
}

.event-illustration {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.event-illustration img {
  margin: 0;
  padding: 0;
  display: block;
  margin-bottom: 10px;
}

.event-illustration figcaption {
  color: rgba(134, 147, 164, 1);
  text-align: center;
}

.event-main-quote {
  margin: 0;
  padding-left: 48px;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  color: rgba(104, 24, 208, 1);
  border-left: 8px solid rgba(240, 135, 60, 1);
  margin-bottom: 60px;
}

.event-main-quote p {
  margin: 0;
  padding: 0;
  color: rgba(22, 49, 82, 1);
}

.event-assets {
  width: 836px;
  margin-bottom: 60px;
  color: rgba(22, 49, 82, 1);
}

.assets-list {
  margin: 0;
  padding: 0;
  margin-left: 28px;
}

.event-story {
  width: 836px;
  padding: 20px;
  background-color: rgba(104, 24, 208, 1);
  text-align: center;
  color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  margin-bottom: 60px;
}

.event-story p {
  margin: 0;
  color: rgba(255, 255, 255, 1);
}

.event-story .event-title{
  color: rgba(255, 255, 255, 1);
}

.event-success p{
  margin: 0;
  color: rgba(22, 49, 82, 1);
}


/* gallery*/ 

.gallery {
  margin: 0;
  padding: 0;
  width: 1366;
  margin-bottom: 50px;
  margin-top: 0;
}

.gallery h2{
  margin-top: 20px;
  margin-bottom: 60px;
  text-transform: uppercase;
  align-items: center;
}

.gallery-container {
  width: 970px;
  margin: 0 auto;
}

.gallery-container img {
  display: block;
  object-fit: cover;
}

.gallery-active {
  margin-bottom: 30px;
}

.gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 970px;
  display: flex;
  justify-content: space-between;
}



.gallery-list a {
  position: relative;
}

.gallery-list a.active-item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(91, 133, 143, 0.67);
}

/* residents*/

.residents {
  width: 1366px;
  margin: 0;
  padding: 100px 48px 100px 48px;
  box-sizing: border-box;
  background-color: rgba(240, 238, 255, 1);
  margin: 0 auto;
}

.residents h2{
  width: 1270px;
  height: 44px;
  gap: 0px;
  opacity: 0px;  
  margin-top: 0;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.resident-cards {
  width: 1270px;
  margin: 0;
  padding: 0 90px;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2190px;
  row-gap: 60px;
  column-gap: 80px;
  box-sizing: border-box;
}

.resident-card {
  width: 505px;
  margin: 0;
  padding: 0 35px;
  padding-top: 30px;
  padding-bottom: 60px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.resident-card h3 {
  margin: 0;
  color: rgba(104, 24, 208, 1);
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 30px;
}

.resident-cards figure {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.resident-cards figure img {
  display: block;
  margin-bottom: 16px;
}

.card-link {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card-link p {
  margin: 0;
  font-size: 18px;
  color: rgba(104, 24, 208, 1);
}

.card-link a {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: rgba(240, 135, 60, 1);
  text-decoration: underline;
}

.card-description {
  width: 435px;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  box-sizing: border-box;
}

.card-description li {
  font-family: Roboto;
  font-size: 14px;
  font-weight: light;
  line-height: 18px;
  text-align: left;  
  color: rgba(0, 0, 0, 1);
  list-style: disc;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.card-description li:nth-last-child(1) {
  margin-bottom: 0;
}

.card-description span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;  
}

/* contacts */

.contacts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 48px;
  margin-right: 48px;
}

.contacts-content {
  margin-left: 100px;
}

.contacts-img {
  width: auto;
  height: 100%;
}

.contacts h2 {
  margin: 0;
  margin-bottom: 40px;
  color: rgba(22, 49, 82, 1);
  font-family: Roboto;
  font-size: 34px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  text-transform: uppercase;
}

.contact-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-item{
  display: flex;
  flex-direction: row;
  justify-self: start;
  margin-bottom: 30px;
}



.contact-item h4 {
  margin: 0;
  margin-right: 10px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 520;
  line-height: 34px;
  text-align: left;
  color: rgba(104, 24, 208, 1);
}

.contact-item address {
  display: inline;
  font-style: normal;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  align-self: center;
}

.contact-item a {
  color: #163152;
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  align-self: center;
}

.contact-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.contact-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  list-style: none;
}

.social-item {
  margin-right: 12px;
}

.social-item a:hover {
  opacity: 0.5;
}

.social-item a:active {
  opacity: 0.3;
}

.contact-item:nth-of-type(3){
  margin-top: 120px;
  display: flex;
  flex-direction: column;
}

/* Подвал */

.main-footer {
  padding: 0;
  margin: 0;
  background-color: rgba(104, 24, 208, 1);
}

.footer-container {
  margin-left: 48px;
  margin-right: 48px;
  display: flex;
  justify-content: space-between;

}

.footer-column {
  width: 175px;
}

.element-footer{
  border-top: 1px solid rgba(240, 238, 255, 1);
  padding-top: 10px;
  grid-area: f;
  width: Fill (760px)px;
  height: Hug (27px)px;
  gap: 10px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-top: 1px solid rgba(240, 238, 255, 1);
}


.footer-navigation-topics:nth-of-type(1){
  grid-area: a;
}

.footer-navigation-topics:nth-of-type(2){
  grid-area: b;
}

.footer-navigation-topics:nth-of-type(3){
  grid-area: ac;
}

.footer-navigation-topics {
  display: grid;
  grid-template-areas: "a b c"
  "f f f";
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 60px;
  margin-left: 40px;
  width: 100%;
}


.footer-navigation-topic b {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  color: rgba(255, 255, 255, 0.88)
}

.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-navigation-item{
  margin-top: 12px;
}

.footer-navigation-item:last-child {
  margin-bottom: 0;
}

.footer-navigation-item a {
  color: #163152;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
  text-align: left;
  color:  rgba(240, 238, 255, 1);
}

.footer-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.footer-navigation-item a:active {
  color: rgba(22, 49, 82, 0.3);
}

.policy {
  margin: 0;
  margin-bottom: 8px;
}

.policy a {
  color: #163152;
  text-decoration: none;
}

.policy a:hover {
  color: rgba(22, 49, 82, 0.5);
}

.policy a:active {
  color: rgba(22, 49, 82, 0.3);
}

.copyright {
  margin: 0;
}

.main-footer  p{
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: rgba(240, 238, 255, 0.8);
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border-color: rgba(240, 238, 255, 0.8);
}